name: Build Release
on:
  push:
    tags:
      - '**'
jobs:
  docker:
    uses: onecx/ci-common/.github/workflows/docker-release.yml@v1
    secrets: inherit
  helm:
    uses: onecx/ci-common/.github/workflows/helm-release.yml@v1
    secrets: inherit
    needs: docker
  helm-event:
    uses: onecx/ci-product/.github/workflows/helm-send-event.yml@v1
    needs: helm
    secrets: inherit
    with:
      targetRepository: onecx/onecx-develop
  changelog:
    uses: onecx/ci-common/.github/workflows/generate-changelog.yml@v1
    needs: helm
    secrets: inherit
